<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../bower_components/nouislider/jquery.nouislider.css"/>

    <script src='../bower_components/jquery/dist/jquery.js'></script>
    <script src='../bower_components/angular/angular.js'></script>
    <script src='../bower_components/nouislider/Link.js'></script>
    <script src='../bower_components/nouislider/jquery.nouislider.js'></script>
    <script src='../nouislider.js'></script>
    <script>
        angular.module('sampleApp', ['ya.nouislider']).controller('SampleCtrl', function($scope) {
            $scope.values = [20, 70]
            $scope.options = {
                range: {min: 0, max: 100}
            }

            $scope.changeToOneHandleNumber = function() {
                $scope.values = 50
            }

            $scope.changeToOneHandleArray = function() {
                $scope.values = [40]
            }

            $scope.changeToTwoHandles = function() {
                $scope.values = [30, 90]
            }
        })
    </script>
</head>
<body ng-app='sampleApp' ng-controller='SampleCtrl'>
    <div no-ui-slider='options' ng-model='values'></div>
    <input type="text" ng-model="values[0]"/>
    <input type="text" ng-model="values[1]"/>
    <input type="text" ng-model="values"/>
    <div>{{values}}</div>
    <button ng-click="changeToOneHandleNumber()">One handle (number)</button>
    <button ng-click="changeToOneHandleArray()">One handle (array[number])</button>
    <button ng-click="changeToTwoHandles()">Two handles</button>
</body>
</html>