<section>
    <h1>Disabling a slider</h1>

    <div>{{ctrl.options1.start}}</div>
    <div class="horizontal-slider"
         ya-no-ui-slider="ctrl.options1"
         ya-no-ui-slider-disabled="ctrl.sliderDisabled"
         ya-no-ui-slider-handle1-disabled="ctrl.sliderHandle1Disabled"
         ya-no-ui-slider-handle2-disabled="ctrl.sliderHandle2Disabled"></div>

    <div>{{ctrl.options2.start}}</div>
    <div class="horizontal-slider"
         ya-no-ui-slider="ctrl.options2"
         ya-no-ui-slider-disabled="ctrl.sliderDisabled"
         ya-no-ui-slider-handle1-disabled="ctrl.sliderHandle1Disabled"
         ya-no-ui-slider-handle2-disabled="ctrl.sliderHandle2Disabled"></div>

    <label>
        Toggle slider
        <input type="checkbox" ng-model="ctrl.sliderDisabled"/>
    </label>
    <label>
        Toggle handle 1
        <input type="checkbox" ng-model="ctrl.sliderHandle1Disabled"/>
    </label>
    <label>
        Toggle handle 2
        <input type="checkbox" ng-model="ctrl.sliderHandle2Disabled"/>
    </label>
</section>