<div no-ui-slider='options' no-ui-slider-events='events' ng-model='values'></div>
<input type="text" ng-model="values[0]"/>
<input type="text" ng-model="values[1]"/>
<input type="text" ng-model="values"/>

<div>{{values}}</div>
<button ng-click="changeToOneHandleNumber()">One handle (number)</button>
<button ng-click="changeToOneHandleArray()">One handle (array[number])</button>
<button ng-click="changeToTwoHandles()">Two handles</button>
<ul>
<li ng-repeat="event in eventsLog track by $index">{{event}}</li>
</ul>

<section ng-controller='SimpleSliderCtrl as ctrl'>
<h1>Simple</h1>

<div class="horizontal-slider" ya-no-ui-slider="ctrl.options"></div>
<span>{{ctrl.options.start}}</span>
</section>

