<section ng-controller="EventsCtrl as ctrl">
    <h1>Events</h1>

    <div class="event" ng-repeat="(eventName, handler) in ctrl.events"
         ng-class="{highlighted: ctrl.highlighted[eventName]}">
        {{eventName}}
    </div>

    <div>{{ctrl.value}}</div>
    <div class="horizontal-slider"
         ya-no-ui-slider="ctrl.options"
         ya-no-ui-slider-events="ctrl.events"
         ng-model="ctrl.value"></div>
    <input type="number" ng-model="ctrl.value[0]"/>
    <input type="number" ng-model="ctrl.value[1]"/>
    <button ng-click="ctrl.value = [5, 15]">set [5, 15]</button>
</section>