<section ng-controller="NgModelOptionsCtrl as ctrl">
    <h1>ng-model-options</h1>

    <h2>ng-model-options="{ updateOn: 'change' }"</h2>
    <div>Model doesn't change on slide</div>
    <div>{{ctrl.value1}}</div>
    <div class="horizontal-slider"
         ya-no-ui-slider="ctrl.options"
         ng-model-options="{ updateOn: 'change' }"
         ng-model="ctrl.value1"></div>

    <h2>ng-model-options="{ debounce: { 'slide': 300 } }"</h2>
    <div>Try to drag and hold the handle</div>
    <div>{{ctrl.value2}}</div>
    <div class="horizontal-slider"
         ya-no-ui-slider="ctrl.options"
         ng-model-options="{ debounce: { 'slide': 300 } }"
         ng-model="ctrl.value2"></div>

    <h2>ng-model-options="{ updateOn: 'slide change' }"</h2>
    <div>Same as default behaviour (no ng-model-options)</div>
    <div>{{ctrl.value3}}</div>
    <div class="horizontal-slider"
         ya-no-ui-slider="ctrl.options"
         ng-model-options="{ updateOn: 'slide change' }"
         ng-model="ctrl.value3"></div>
</section>

